{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div style="margin-left:20%;">
    <h1>form (upload)</h1>
    <form method="POST" enctype="multipart/form-data">
        <div><label>File1 <input type="file" name="file1" /></label></div>
        <div><button type="submit">Submit</button></div>
    </form>
    <p>{{ message }}</p>
</div>

<table class="table">
  <thead class="thead-dark">
      <tr>
          <th>日付</th>
          <th>名前</th>
          <th>投稿内容</th>
      </tr>
  </thead>
  <tbody>
  {% for th in lines %}
      <tr>
      <td>{{ th.pub_date }}</td>
      <td>{{ th.name }}</td>
      <td>{{ th.comment }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}